.home-card {
  height: 300px;
  width: 250px;
  border: 2px solid crimson;
  border-radius: 25px;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.home-card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-card-right img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid crimson;
}
