.names-color {
  color: crimson;
}
.hero-section {
  display: flex;
  padding: 20px;
  margin-top: 50px;
}
.hero-txt {
  width: 50%;
}
.hero-img {
  display: flex;
  justify-content: center;
  width: 50%;
}
.See-more-btn {
  border: none;
  background: linear-gradient(
    0deg,
    rgba(8, 7, 7, 1) 0%,
    rgba(195, 104, 104, 1) 100%
  );
  color: white;
  font-weight: 700;
  padding: 10px;
  border-radius: 25px;
  transition: 0.5s;
}
.See-more-btn:hover {
  transform: scale(110%);
}
.review-section {
  padding: 30px 0px;
}
.section-title {
  text-align: center;
}
.card-section {
  display: flex;
  justify-content: space-evenly;
}
.card {
  height: 300px;
  width: 250px;
  border: 2px solid crimson;
  border-radius: 25px;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-right img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.review-btn {
  margin-left: 45%;
  margin-top: 50px;
}
