.names-color {
  color: crimson;
}
.hero-section {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: 80px;
  width: 100%;
  flex-wrap: wrap-reverse;
}
.hero-txt {
  width: 500px;
}
.hero-img {
  display: flex;
  justify-content: center;
}
.See-more-btn {
  border: none;
  background: linear-gradient(
    0deg,
    rgba(8, 7, 7, 1) 0%,
    rgba(195, 104, 104, 1) 100%
  );
  color: white;
  font-weight: 700;
  padding: 10px;
  border-radius: 25px;
  transition: 0.5s;
}
.See-more-btn:hover {
  transform: scale(110%);
}
.review-section {
  padding: 30px 0px;
}
.section-title {
  text-align: center;
}
.card-section {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.review-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
