.nav-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(220, 20, 60, 0.253);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}
.logo {
  color: crimson;
}

ul > li {
  display: inline;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 700;
}
