footer {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.footer-text {
  color: white;
  text-align: center;
}
.footer-logo {
  color: crimson;
}
